{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Kenneth Dalabajan</title>
    <link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100  border-info" id="profile-wrapper">
                    <img id="profile-pic" src="{% static 'images/mypic.jpg' %}">
                    <hr>
                    <h4>Hi I'm Ken!</h4>
                    <p>I love coding, doing research and collaborating</p>
                </div>
            </div>

            <div class="col-md-9">
                <div class="card card-body h-100  border-info">
                    <h4>My First Job as a Developer</h4>
                    <hr>
                    <p> I’d never written about my experience despite all the help I’ve
                        received from wonderful resources like Medium, Stack Overflow, and Reddit’s programming
                        subreddits. So today,I decided to change that. Today I’m going to fill you in on what went
                        right, and what
                        didn’t, so that if you’re embarking on this journey.</p>

                    <p> Years ago, i created my first Hello World! program.
                        At first this year, I wanted to actually learn how to create websites. I knew HTML from my
                        time on the web,
                        but not CSS. I didn't understand how CSS worked at all. I started Codecademy again.
                    </p>

                    <p>The more time you "spend" with a language the more you understand it, and "you two get along
                        better".</p>

                    <ul class="social-links">
                        <li><img class="social" src="{% static 'images/facebook.png' %}"></li>
                        <li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
                        <li><img class="social" src="{% static 'images/twitter.png' %}"></li>
                        <li><img class="social" src="{% static 'images/youtube.png' %}"></li>
                    </ul>

                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100 border-info">
                    <h5>My Experience as an IT and future Web Developer </h5>
                    <hr>
                    <p>Former Technical and software support at St.Dominic Collage of Asia.</p>
                    <p>Taking ownership of technical issues and working with the software development group
                        to resolve more advance issues when necessary.Supported almost hundred employees in the School.
                        developing simple websites and more!.
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-body h-100 border-info">
                    <h5>What I Know</h5>
                    <hr>
                    <p>Python, Django, HTML/CSS, JavaScript, APIs such as google maps,
                        and bunch more I can’t possibly mention in one sentence! ;)</p>
                    <p>PS: Still learning from these programming languages.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100 border-info">
                    <h5>How I Learn</h5>
                    <hr>
                    <p>Reverse Engineer & Build Ugly Prototypes First.</p>

                    <p>I can learn just about anything by having a final product to tear apart piece by piece. I break
                        the code where I need to figure out why things work the way they do. Documentation is just a
                        reference.</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-body h-100 border-info">
                    <h5>My Short Term Goals</h5>
                    <hr>
                    <p>After almost two years of supporting at my previous company at the lab I’m ready to learn
                        something new. I'll
                        collaborating and sharing my experience with others on my blog. & youtube
                        channel.</p>
                    <p>Aside from building small projects I would love to enter a position where I can be part of a
                        bigger team & learn from others with more experience than myself.</p>

                </div>
            </div>
        </div>
        <br>
    </div>


</body>

</html>